<p id="notice"><%= notice %></p>

<p>
  <strong>Toolid:</strong>
  <%= @tool.toolid %>
</p>

<p>
  <strong>Tname:</strong>
  <%= @tool.tname %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tool.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tool.description %>
</p>

<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
