<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stuff.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @stuff.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @stuff.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stuff.description %>
</p>

<%= link_to 'Edit', edit_stuff_path(@stuff) %> |
<%= link_to 'Back', stuffs_path %>
